

@font-face {
    font-family: 'georgia';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'georgia';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}



/*
@font-face {
    font-family: 'DMSans';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'), url('./fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}*/




/*100 - thin
200 - UltraLite
300 - lite
400 - normal,Regular
500 - medium
600 - semibold
700 - bold
800 - Heavy
900 - black*/