$georgia: 'georgia',
sans-serif;

$Lato: 'Lato',
sans-serif;

$Roboto: 'Roboto',
sans-serif;


$black1: #505050;
$black2:#4E5665;
$silver1: #909090;
$white: #ffffff;
$gold: #ECB84C;

$active: #fb0909;
$ac: #fcd7b6;
$green:#14B4BE;




/*$Butler: 'Butler',
sans-serif;*/

/*$ac: #fcd7b6;

/*accent*/
/*
$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$red1 :#fe3e57;
$orange: #ffa500;
*/